<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a href="/homepage" class="navbar-brand mb-0 fw-bold text-primary me-3" style="font-size: 1.5rem; text-decoration: none;">D.B.B</a>
            <div class="input-group">
                <input id="search-bar" type="text" class="form-control" placeholder="Search announcements..." aria-label="Search">
                <button id="search-button" class="btn btn-outline-primary">
                    <span class="d-none d-md-inline">Search</span>
                    <i class="bi bi-search d-md-none"></i>
                </button>
            </div>
        </div>
        <div class="d-none d-lg-flex align-items-center">
            <button id="archives-button" class="btn btn-outline-primary me-2" onclick="window.location.href='/archives'">Archives</button>
            <button id="feedback-button" class="btn btn-outline-primary me-2" onclick="window.open('/feedback', '_blank')">Feedback</button>
            <button id="logout-button" class="btn btn-outline-primary">Logout</button>
        </div>
        <button class="navbar-toggler shadow-sm d-lg-none" type="button" id="hamburger" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menuDropdown" class="collapse position-absolute bg-light rounded shadow p-3 d-lg-none">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button id="archives-button-mobile" class="btn btn-outline-primary w-100 mb-2 shadow-sm" onclick="window.location.href='/archives'">Archives</button>
                </li>
                <li class="nav-item">
                    <button id="feedback-button-mobile" class="btn btn-outline-primary w-100 mb-2 shadow-sm" onclick="window.open('/feedback', '_blank')">Feedback</button>
                </li>
                <li class="nav-item">
                    <button id="logout-button-mobile" class="btn btn-outline-primary w-100 shadow-sm">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>